@{
    ViewData["Title"] = "CSM View Grades";
}

<h2>Users</h2>
@*<ul>
    @{foreach (User user in Model.Users)
        {
            <li>@user.FullName    @user.Gender.ToString()  @user.EmailAddress</li>
        }
    }
</ul>*@
